{% extends "base.html" %}
{% block heading %}Welcome!{% endblock %}
{% block body %}

<h1>List of Jupyter Notebooks</h1>
You can click on a notebook title to view it in the browser or go to <a href="https://gitlab.com/bandm/bandm.gitlab.io">the GitLab project page</a> to download the notebooks.
<ol>
  {% for link_title, link_url, link_date in table_of_contents %}
  <li><a href="{{ link_url }}">{{ link_title }} ({{ link_date.strftime('%B %Y') }})</a></li>
  {% endfor %}
</ol>

{% endblock %}
