<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <style type="text/css">
      {% block style %}{% endblock %}
body{margin:40px
auto;max-width:900px;line-height:1.6;font-size:18px;color:#000;padding:0
10px}h1,h2,h3{line-height:1.2}div.code{line-height:0.8;}
    </style>
    <link rel="stylesheet" href="default.css">
    <script type="text/javascript" async
	    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
      <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav><a href="/">Home</a> | <a href="/about.html">About</a></nav>
    {% if heading is defined %}
    <h1 class="title">{% block heading %}{% endblock %}</h1>
    {% endif %}
    {% block body %}{% endblock %}
    <hr />
    {% include "footer.html" %}
  </body>
</html>
