{% extends "base.html" %}
{% block style %}
{{ css }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block heading %}{{ title }}{% endblock %}


{% block body %}
{% for cell in cells %}
    {% if cell.source != '' %}
    <div class="cell">
      <div>
	{% if cell.cell_type == 'code' %}
	<div class="code">{{ python_pretty(cell.source) }}</div>
	{% elif cell.cell_type == 'markdown' %}
	<div>{{ markdown_pretty(cell.source) }}</div>
	{% else %}
	{{ cell.source }}
	{% endif %}
      </div>
      {% for output in cell.outputs %}
      {% if output.output_type == 'text' %}
      <div><pre>{{ output.content|e }}</pre></div>
      {% elif output.output_type == 'html' %}
      <div>{{ output.content }}</div>
      {% elif output.output_type == 'png' %}
      <img src="{{ 'data:image/png;base64,{0}'.format(output.content) }}" />
      {% else %}
      Unknown output type!
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
{% endfor %}
{% endblock %}
